Repository Zemnmez/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @zemnmez, @steadyon, @quailemu, @zemn-me/@renovate_approvers

CODEOWNERS:

*	@zemnmez

# personal pages
/ts/pulumi/shadwell.im/luke/* @steadyon @zemnmez
/ts/pulumi/shadwell.im/kate/pages/* @quailemu @zemnmez
/ts/pulumi/shadwell/im/kate/pages/_app.tsx @zemnmez
/ts/pulumi/shadwell/im/kate/pages/_document.tsx @zemnmez

# list of files that dependabot might change
/cargo-bazel-lock.json @zemn-me/@renovate_approvers
/go.mod @zemn-me/@renovate_approvers
/go.sum @zemn-me/@renovate_approvers
/pnpm-lock.yaml @zemn-me/@renovate_approvers
/package.json @zemn-me/@renovate_approvers
/Cargo.Bazel.lock @zemn-me/@renovate_approvers
/Cargo.toml @zemn-me/@renovate_approvers
/renovate.json @zemn-me/@renovate_approvers
/requirements.in @zemn-me/@renovate_approvers
/requirements.txt @zemn-me/@renovate_approvers
/bzl/deps.bzl @zemn-me/@renovate_approvers

chore(deps): update dependency rules_rust to v0.56.0
  WORKSPACE
Owners: @zemnmez

chore(deps): update dependency rust-lang/rust to v1.84.0
  WORKSPACE
Owners: @zemnmez

chore(deps): update dependency typescript to v5.7.3
  package.json
  pnpm-lock.yaml
Owners: @zemn-me/@renovate_approvers

chore(deps): update swc monorepo
  Cargo.lock
  Cargo.toml
  package.json
  pnpm-lock.yaml
Owners: @zemnmez, @zemn-me/@renovate_approvers

fix(deps): update dependency remark-sectionize to v2.1.0
  package.json
  pnpm-lock.yaml
Owners: @zemn-me/@renovate_approvers

fix(deps): update dependency selenium-webdriver to v4.28.0
  package.json
  pnpm-lock.yaml
Owners: @zemn-me/@renovate_approvers

chore(deps): update dependency bazel to v8
  .bazelversion
  MODULE.bazel.lock
Owners: @zemnmez

chore(deps): update react monorepo to v19
  package.json
  pnpm-lock.yaml
Owners: @zemn-me/@renovate_approvers

fix(deps): update dependency nuqs to v2
  package.json
  pnpm-lock.yaml
Owners: @zemn-me/@renovate_approvers

fix(deps): update swc monorepo
  Cargo.Bazel.lock
  Cargo.lock
  Cargo.toml
  cargo-bazel-lock.json
Owners: @zemn-me/@renovate_approvers, @zemnmez
