Repository Zemnmez/monorepo, changes with the owners that CODEOWNERS names for each.
All owners: @zemnmez, @steadyon, @quailemu, @renovate_approvers, @@renovate_approvers

CODEOWNERS:

*	@zemnmez

# personal pages
/ts/pulumi/shadwell.im/luke/* @steadyon @zemnmez
/ts/pulumi/shadwell.im/kate/pages/* @quailemu @zemnmez
/ts/pulumi/shadwell/im/kate/pages/_app.tsx @zemnmez
/ts/pulumi/shadwell/im/kate/pages/_document.tsx @zemnmez

# list of files that dependabot might change
/cargo-bazel-lock.json @renovate_approvers
/go.mod @renovate_approvers
/go.sum @renovate_approvers
/pnpm-lock.yaml @renovate_approvers
/package.json @@renovate_approvers
/Cargo.Bazel.lock @renovate_approvers
/Cargo.toml @renovate_approvers
/renovate.json @renovate_approvers
/requirements.in @renovate_approvers
/requirements.txt @renovate_approvers
/bzl/deps.bzl @renovate_approvers

chore(deps): update dependency notebook to v7.3.2
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency pygments to v2.19.1
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency rules_rust to v0.56.0
  WORKSPACE
Owners: @zemnmez

chore(deps): update dependency rust-lang/rust to v1.84.0
  WORKSPACE
Owners: @zemnmez

chore(deps): update dependency typescript to v5.7.3
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

chore(deps): update swc monorepo
  Cargo.lock
  Cargo.toml
  package.json
  pnpm-lock.yaml
Owners: @zemnmez, @renovate_approvers, @@renovate_approvers

fix(deps): update dependency remark-sectionize to v2.1.0
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

fix(deps): update dependency selenium-webdriver to v4.27.0
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

fix(deps): update module github.com/go-delve/delve to v1.24.0
  go.mod
  go.sum
Owners: @renovate_approvers

chore(deps): update dependency aspect_rules_lint to v1
  MODULE.bazel
  MODULE.bazel.lock
Owners: @zemnmez

chore(deps): update dependency asttokens to v3
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency bazel to v8
  .bazelversion
  MODULE.bazel.lock
Owners: @zemnmez

chore(deps): update dependency markupsafe to v3
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update react monorepo to v19
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

fix(deps): update dependency nuqs to v2
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

fix(deps): update swc monorepo
  Cargo.Bazel.lock
  Cargo.lock
  Cargo.toml
  cargo-bazel-lock.json
Owners: @renovate_approvers, @zemnmez

chore(deps): update dependency jinja2 to v3.1.5 [security]
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency jinja2 to v3.1.5 [security]
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency next to v14 [security]
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

chore(deps): update dependency next to v14 [security]
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

fix(deps): update dependency pnpm to v9 [security]
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

fix(deps): update dependency pnpm to v9 [security]
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

chore(deps): update dependency nbconvert to v7.16.5
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency nbconvert to v7.16.5
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency pyyaml to v6.0.2
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency pyyaml to v6.0.2
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

fix(deps): update module github.com/itchyny/gojq to v0.12.17
  go.mod
  go.sum
Owners: @renovate_approvers

fix(deps): update module github.com/itchyny/gojq to v0.12.17
  go.mod
  go.sum
Owners: @renovate_approvers

chore(deps): update dependency aspect_rules_ts to v3.4.0
  MODULE.bazel
  MODULE.bazel.lock
Owners: @zemnmez

chore(deps): update dependency aspect_rules_ts to v3.4.0
  MODULE.bazel
  MODULE.bazel.lock
Owners: @zemnmez

chore(deps): update dependency httpx to v0.28.1
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency httpx to v0.28.1
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency jupyterlab to v4.3.4
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency jupyterlab to v4.3.4
  MODULE.bazel.lock
  gazelle_python.yaml
  requirements.txt
Owners: @zemnmez, @renovate_approvers

chore(deps): update dependency aspect_rules_lint to v1
  MODULE.bazel
  MODULE.bazel.lock
Owners: @zemnmez

chore(deps): update dependency next to v14 [security]
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

fix(deps): update dependency pnpm to v9 [security]
  package.json
  pnpm-lock.yaml
Owners: @@renovate_approvers, @renovate_approvers

fix(deps): update module github.com/google/go-containerregistry to v0.20.3
  go.mod
  go.sum
Owners: @renovate_approvers

chore(deps): update dependency aspect_rules_py to v1.1.0
  MODULE.bazel
  MODULE.bazel.lock
Owners: @zemnmez

chore(deps): update dependency aspect_rules_ts to v3.4.0
  MODULE.bazel
  MODULE.bazel.lock
Owners: @zemnmez
